<!-- Footer -->
<footer
  class="text-center text-lg-start text-white mt-auto footer py-3"
  style="background-color: #1e2023"
>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <a href="/register"
          ><button type="button" class="btn btn-outline-light btn-rounded">
            register
          </button></a
        >
      </p>
    </section>
    <!-- Section: CTA -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="mb-4 text-center">
      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://twitter.com/Khataab42558460"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/in/khattab-fayyad-760354261/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/khatab1324"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->

<!-- End of .container -->
