<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index comments</title>
  </head>
  <body>
    <h1>comment</h1>
    <ul>
      <% for(let c of comments){ %>
      <li>
        <%=c.comment%>-<b><%= c.username %></b>
        <a href="/comments/<%=c.id %>">about</a>
      </li>
      <%}%>
    </ul>
    <a href="/comments/new"><button>creat a new comment</button></a>
  </body>
</html>
