body{
    background-color: rgb(9, 9, 26);
    font-family: 'Roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button{
    width:100px;
    height:50px;
    background-color: rgb(9, 9, 33);

    color: orange;
    border: 2px orange inset;
    
}
button:hover{
    border-color: rgb(246, 255, 0);
    color: white;
    box-shadow: 0px 7px 5px -5px rgb(255, 213, 0);
    /* margin-top: -5px;
    transition: margin-top 0.5s; */
    transform: translateY(-0.25em); 
    transition: all 0.3s;
    cursor: pointer;
    
}
/* 
search about box shado and see how it worke

cursor: pointer ==> it make the cursor icon change when you hover 
and the type is pointer
*/