/* you should know the strucsher of the css 

selector{
    property :value;
    now we will learn about selector
}
*/
*{
    color: rgb(73, 98, 98);
    background-color: rgb(161, 201, 200);
}
h1 a{
    text-decoration: none;
}
button{
    font-size: 20px;
}
h1,h2{
    font-style: italic;
}

#send{
    color: red;
    background-color: antiquewhite;
}

span{
    color: rgb(255, 0, 98);
}

/* class selector */
.highlight{
    background-color: bisque;
}

footer a{
    color: rgb(153, 73, 190);
    text-decoration: solid ;
}
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px red;
    
}
input[type="checkbox"]:checked + label{
    color: red;
}

/* 
using space to enter to element is not like --> , comma . it likes i want to arraive to the 
elemnt insaide element
*/

h2 + a {
    color: rgb(231, 69, 40);
}
footer > h2{
    color: aquamarine;
    text-align: center;
}

input[type ="password"]{
    color: red;
}
#chick:hover{
    background-color: aliceblue;
    color: red;
}

#send:hover{
    background-color: rgb(192, 225, 242);
    
  }

h1 a:hover {
color: red;
}


#nothing{
    color: red;

   position: relative;left: 250px ; top: 30px;  
}

#nothing:active{
    background-color: rgb(0, 255, 242);
}
h2::first-letter{
    color: rgb(214, 19, 19);
    font-size: 50px;
}
::selection{
   background-color: rgba(237, 17, 127, 0.418);
}


/* 
    * ==> it is make all thing have the same thing you write it in the 
    screpet 

    , ==> you can use two selector in same time

    #id name ==> you can control in one spacific element by using id
    
    .class name ==> the dote . cross from class  , and you can control on element

    + ==> it like after then mean , in our case a after h2 and this is the only cace 
    we have in our code

    pseudo classes
    hover ==> when you include your muose on elment have hover, there action will happen

    active ==> when you pressed on the button the action will happen

    checked ==> it is with input check to get some action when you press on check box

    nth-of-type ==> it makes sets of changes on elements at the same time . search about it, like if you have 
    alot if element and all these element have tha same name or same class you can choss any one like nth-of-type(2) it will 
    chose the secnde element 
              IT IS VERY IMPORTANT

                PSEUDO ELEMENTE
    first-letter ==> it take first letter and make the changes we written
    first-line ==> it is like first-letter but the diffrent ,it take a line
    selection ==> applies styles to the part of a document that has been highlighted by the user 
    (such as clicking and dragging the mouse across text).

    read about specificity

    !important ==> its make the proparty for the element ir style heve !important

    what is the inheritance ? like if give the body color , all the sons will inherit the color
    and you should change the colors element if you want
    its like the father and his son 
*/