a{
    color: black;
}
.la{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.no{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255 , 0.7);
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: rgb(231, 21, 21);
    opacity: 0.55;

}
a{
    text-decoration: none;
}

a:hover
{
    color: red;
    font-size: larger;
    
}
div{
    display: inline-block;
    margin: 5px;
    
}
.one {
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 3px inset black;
    position: relative;
    top: 200px;
    
   
}
.two{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px inset black;
   
    position: relative;
    top: 100px;    
    
}
 .three{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px inset black;
}
.four{
    width: 50px;
   
    background-color: rgb(51, 255, 0);
    border: 2px inset black;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 1px;
    

}
.five{
    width: 100px;
    height: 100px;
    background-color: rgb(11, 243, 232);
    border: 2px inset black;
    position: fixed;

    
}
.squar{
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: 1.45s ;
    

  

}
.squar:hover{
    background-color: rgb(9, 40, 243);
    border-radius: 50%;


}
.circle{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 72);
    margin-left:50px ;
    border-radius:30%;
    
    
}
.circle:hover{
    background-color: rgb(98, 255, 0);
    transition: background-color 0.9s 0.5s;
}
.squar2{ 
     width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 72);
    margin-left:50px ;
    border-radius:50%;
    margin: 20px 0;
    display: block;
    transition: margin-left 2s;
       
}
.squar2:hover{
    margin-left: 400px;
}
.rectangle
{
    width: 150px;
    height: 100px;
    background-color: rgb(0, 255, 0);  
     transition:  margin-left 2s ;

    
}
.rectangle:hover{
    margin-left: 200px;

    transition:  margin-left 2s ;
     

}
.rectangle:nth-of-type(1)
{
    transition-timing-function: ease-in;
}

    

/* 
  rgba ==> (red, green, blue, alpha)
  
  opacity ==> but the element under the color
  
  position: static ==> its the normal position
  position: relative ==> The element is positioned according to the normal flow of the document,
 and then offset relative to itself based on the values of top, right, bottom, and left
 
  position: obsolute ==> i think it must inside element heve position relative becauce
  look for case one it uncontroled  . what is mean ! when you use the absolute use it 
  inside elemlent that heve position relative 

  position:fixed ==>The element is removed from the normal document flow, and no space is created for the element in the page layout. It is positioned relative to the initial containing block established by the viewport
  . mean that , its like nav bar in website when you scrol down the position fixed
  will goes with you

  transition ==> it is makes transition
  transition:background-color xS  delay; ==> it make transition in color 
  transition : margin ....  ==> its move the element 

*/